
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

    <header class="fixed-top">
        <div style="background-color: #ffabd9;">
            Banner
        </div>
        
        <%if (datos.rol == "Admin"){%>
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2cd5e8;">
                <a class="navbar-brand" href="#">MakeUp-Shop Utopic</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/productos">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown"
                                aria-expanded="false">
                                Productos
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/productos">Mostrar productos</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/prodRegistros">Registrar</a>
                                <a class="dropdown-item" href="/listarProd">Listar</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">
                                Clientes
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/clientesRegistros">Registrar</a>
                                <a class="dropdown-item" href="/listarClientes">Listar</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">
                                Ventas
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/registerVenta">Registrar</a>
                                <a class="dropdown-item" href="/listVentas">Listar</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">
                                Vendedores
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/vendRegistros">Registrar</a>
                                <a class="dropdown-item" href="/vendedores">Listar</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a href="/logout" class="nav-link btn btn-outline-light">Cerrar sesi贸n</a>
                        </li>
                    </ul>
                </div>
            </nav>
        <%} else if (datos.rol == "Empleado"){%>
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2cd5e8;">
                <a class="navbar-brand" href="#">MakeUp-Shop Utopic</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/productos">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown"
                                aria-expanded="false">
                                Productos
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/productos">Mostrar productos</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/prodRegistros">Registrar</a>
                                <a class="dropdown-item" href="/listarProd">Listar</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">
                                Clientes
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/clientesRegistros">Registrar</a>
                                <a class="dropdown-item" href="/listarClientes">Listar</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">
                                Ventas
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/registerVenta">Registrar</a>
                                <a class="dropdown-item" href="/listVentas">Listar</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a href="/logout" class="nav-link btn btn-outline-light">Cerrar sesi贸n</a>
                        </li>
                    </ul>
                </div>
            </nav>
        <%} else if (datos.rol == "Cliente"){%>
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2cd5e8;">
                <a class="navbar-brand" href="#">MakeUp-Shop Utopic</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/productos">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown"
                                aria-expanded="false">
                                Productos
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/productos">Mostrar productos</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/prodRegistros">Registrar</a>
                                <a class="dropdown-item" href="/listarProd">Listar</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a href="/logout" class="nav-link btn btn-outline-light">Cerrar sesi贸n</a>
                        </li>
                    </ul>
                </div>
            </nav>
        <%} else{%>
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2cd5e8;">
                <a class="navbar-brand" href="#">MakeUp-Shop Utopic</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/inicio">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown"
                                aria-expanded="false">
                                Productos
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/productos">Mostrar productos</a>
                            </div>
                        </li>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a href="/loginForm" class="nav-link btn btn-light">Iniciar sesi贸n</a>
                        </li>
                        <li class="nav-item active ml-2">
                            <a href="/clientesRegistros" class="nav-link btn btn-warning">Registrar</a>
                        </li>
                    </ul>
                </div>
            </nav>
        <%}%>
        
        
    </header>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
